<div class="container">
  <div class="col-xs12 col-md-offset-3 col-md-6">
    <%= simple_form_for(@product) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :photos, as: :attachinary %>
      <%= f.button :submit %>
      <%= link_to "Retour à la home", products_path %>
    <% end %>
  </div>
</div>